.bg {
    background-image: url("src/docker_back.jpg");
    
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   
  background-color: rgba(0,0,0,.0001) !important;
}
.modal-dialog  .modal-content {
  background-color: transparent !important;
}
.myModalLabel  {
  color: chartreuse;
}
#custom-color {
    color: chartreuse;
}